* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLING */
.navbar {
  background-color: #D33A2C;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: Calibri Bold,AvenirNext,Avenir,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif;
}

.logo {
  padding: 0 25px;
}

.navbar a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25em;
}

.navbar-ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

.navItem{
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav-button,
.toggle-bar {
  padding: 15px;
  border-radius: 10px;
}

.toggle-bar {
  background-color: #a92e23;
  border: 1px solid #a12c21;
}

.nav-button:hover {
  background-color: #a92e23;
}

.toggle-bar:hover {
  background-color: #a12c21;
}

/* has to be fixed, probably with javascript, gotta come up with a solution for toggle bar */
.item-6,
.item-7,
.item-8,
.item-9,
.item-10 {
  display: none;
}

.navbar-form {
  width: 325px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 50px;
  margin: 0 25px;
}

/* MAIN STYLING */

/* FIRST CONTAINER STYLING */
.first-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.small-first-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1400px;
  border: solid 1px black;
}

.first-element-title,
.really-red {
  position: absolute;
  margin-top: 30px;
  border: solid black 1px;
}

.really-red {
  right: 30px;
}

.first-element-container {
  width: 50%;
  height: 400px;
}

.first-element-small-container{
  width: 50%;
  height: 200px;
}

.darker {
  background-color: #bc3428;
}

.lighter {
  background-color: #c7372a;
}

/* FOOTER STYLING */