* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div{
  display: block;
}

ul{
   display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


/* NAVBAR STYLING */
.navbar {
  background-color: #D33A2C;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: Calibri Bold,AvenirNext,Avenir,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif;
}

.logo {
  padding: 0 25px;
}

.navbar a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25em;
}

.navbar-ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

.navItem{
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav-button,
.toggle-bar {
  padding: 15px;
  border-radius: 10px;
}

.toggle-bar {
  background-color: #a92e23;
  border: 1px solid #a12c21;
}

.nav-button:hover {
  background-color: #a92e23;
}

.toggle-bar:hover {
  background-color: #a12c21;
}

/* has to be fixed, probably with javascript, gotta come up with a solution for toggle bar */
.item-6,
.item-7,
.item-8,
.item-9,
.item-10 {
  display: none;
}

.navbar-form {
  width: 325px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 50px;
  margin: 0 25px;
}

/* MAIN STYLING */

/* FIRST CONTAINER STYLING */
.first-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.small-first-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1400px;
  border: solid 1px black;
}

.first-element-title,
.really-red {
  position: absolute;
  margin-top: 30px;
  border: solid black 1px;
}

.really-red {
  right: 30px;
}

.first-element-container {
  width: 50%;
  height: 400px;
}

.first-element-small-container{
  width: 50%;
  height: 200px;
}

.darker {
  background-color: #bc3428;
}

.lighter {
  background-color: #c7372a;
}

/* FOOTER STYLING */
.footer {
  background-color: #757575;
  color: white;
  width: auto;
  height: auto;
}

.footerLinks{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}

.footerLinks ul {
  margin-top: 40px;
  padding-bottom: 40px;
}

.footerLinks li {
  font-size: 1.5rem;
  line-height: 2;
  display: inline-block;
  margin-right: 2.7rem;
}

.footerHeading{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}