* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLING */
.navbar {
  background-color: #D33A2C;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
  padding: 0 25px;
}

.navbar a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25em;
}

.navbar-ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

.navItem{
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav-button,
.toggle-bar {
  padding: 15px;
  border-radius: 10px;
}

.toggle-bar {
  background-color: #a92e23;
  border: 1px solid #a12c21;
}

.nav-button:hover {
  background-color: #a92e23;
}

.toggle-bar:hover {
  background-color: #a12c21;
}

/* has to be fixed, probably with javascript, gotta come up with a solution for toggle bar */
.item-6,
.item-7,
.item-8,
.item-9,
.item-10 {
  display: none;
}

.navbar-form {
  width: 325px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 50px;
  margin: 0 25px;
}

/* MAIN STYLING */

/* FIRST CONTAINER STYLING */
.first-container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.small-first-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1400px;
}

.first-element-title,
.really-red {
  position: absolute;
  margin-top: 50px;
}

.first-element-title {
  width: 450px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.first-element-title h2{
  display: inline;
  color: #333333;
  background-color: #fff;
  padding: 10px;
}

.really-red {
  right: 30px;
}

.really-red a {
  display: flex;
  text-decoration: none;
}

.really-red div {
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #c7372a;
  transform: rotateZ(-10deg) translateY(-10px);
}

.really-red div:hover {
  transform: none;
  transition-duration: 0.5s;
}

.really-red h4 {
  margin-left: 15px;
  padding-top: 10px;
  border: #fff solid 1px;
  border-radius: 10px;
  height: 42px;
  width: 160px;
  text-align: center;
  color: white;
}

.really-red h4:hover {
  background-color: #fff;
  color: #c7372a;
}

.first-element-container {
  width: 50%;
  height: 400px;
  padding-left: 60px;
}

.first-element-small-container{
  width: 50%;
  height: 200px;
}

.darker {
  background-color: #bc3428;
}

.lighter {
  background-color: #c7372a;
}

.author img {
  width: 70px;
  border: 4px solid white;
  border-radius: 10px;
}

/* FOOTER STYLING */
.footer {
  background-color: #757575;
  color: white;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.upperFooter {
  width: 1400px;
}

.footerHeading{
  font-size: 1.17em;
  font-weight: bold;
}

.footerLinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

.footerLinks ul {
  margin-top: 40px;
  padding-bottom: 40px;
}

.footerLinks li {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 2.7rem;
  line-height: 60px;
}

.footerLinks a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.footerLinks p {
  width: 1200px;
}

.footerLinks p a {
  color: #fff;
  font-size: 1rem;
}

.LowerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 13%;
}

.footerImage {
  height: 100px;
  width: 200px;
  margin-left: 15%;
  transform: scale(0.6);
}

.copyrightSection {
  flex-grow: 1;
  padding-left: 5%;
  padding-top: 5%;
}